@component('layout/main', { title: "Edit my profile" })
<div class="bg-dark-subtle text-bg-dark-subtle">
  <div class="container py-5">
    <h2>My profile</h2>
  </div>
</div>
<main class="container mt-5">
  <a href="{{ route('profiles.edit') }}">Edit my profile</a>
</main>
@end