<div class="toast show bg-success-subtle border-0" role="alert" aria-live="assertive" aria-atomic="true"
  data-controller="notification">
  <div class="toast-header bg-success-subtle border-0">
    <strong class="me-auto">Success</strong>
    <button type="button" class="btn-close ms-2" data-bs-dismiss="toast" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="toast-body">
    {{notification}}
  </div>
</div>