<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Articles</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  <header>
    @include('partials/global-nav')
  </header>
  <div class="container mt-5">
    <div class="row mb-4">
      <form method="GET" class="col-3 ms-auto">
        <select class="form-select" aria-label="Filter by tags" id="filter" name="filter" onchange="this.form.submit()">
          <option {{ html.attrs({ selected: !queryString.filter }) }} disabled>Filter by tags</option>
          @each(tag in tags)
          <option value="{{ tag }}" {{ queryString.filter===tag ? 'selected' : '' }}>{{ capitalCase(tag) }}</option>
          @end
        </select>
      </form>
    </div>

    <ul class="list-group mb-4">
      @each((article, index) in articles)
      <li class="list-group-item">
        <a href="{{ route('articles.show', { slug: article.slug }) }}">
          {{ article.title }}
        </a>
        <p>{{ article.description }}</p>
      </li>
      @end
    </ul>
    <p>
      <a href="{{ route('home') }}">Back to homepage</a>
    </p>
  </div>
</body>

</html>