@component('layout/main', {
title: "Web & App Development"
})
<main class="container">
  <h1>It Works!</h1>
  <ul>
    <li><a href="{{ route('employees.index') }}">Employees</a></li>
  </ul>
</main>
@end